# Virtual Environment
venv/
env/
ENV/

# Environment Variables
.env
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class

# Database files
*.db
*.sqlite
*.sqlite3

# IDE settings (optional but recommended)
.idea/
.vscode/
